<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203859087922-p7oimg0o6f15o0u8l486pc0lm69ak9l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203859087922-p7oimg0o6f15o0u8l486pc0lm69ak9l8</string>
	<key>API_KEY</key>
	<string>AIzaSyDdNSNAFPz9a1RZnKXw_uSbd5zh0Agh0AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>203859087922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AlphaDVLPR.FirebaseCommunicaiton-Chatbooks</string>
	<key>PROJECT_ID</key>
	<string>chatbookstest-78eb0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbookstest-78eb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:203859087922:ios:318a41d1bfe8435ad6222b</string>
	<key>DATABASE_URL</key>
	<string>https://chatbookstest-78eb0-default-rtdb.firebaseio.com</string>
</dict>
</plist>
